<header>
  
  <nav class="navbar navbar-expand-lg   nav-color">
      <a class="text-right" href="#">
        <img class="nav-logo text-center" src="./assets/deccer.png">
      </a>
    
      <div class="collapse navbar-collapse d-flex " id="navbarNav">
        <ul class="navbar-nav p-2 ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Serviços <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Portofolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orçamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactos</a>
          </li>
        </ul>
      </div>
  </nav> 
</header>

  <!-- Content here -->
<div class="container-fluid ">
  <!-- First Layout  -->
  <div class="row justify-content pb-5  ">
   
    <app-carousel-navigation class="carousel"></app-carousel-navigation> 
    
  </div>

  <!-- Second Layout  -->
  <div class="row justify-content-center text-center pt-l pb-l ">

    <div class="col-md-12 ">
      <div class="servicos h1">  NOSSOS SERVIÇOS </div>
      <div class="h6" >QUE PODE ENCONTRAR NA DECCER</div>
    </div>

    <app-comp-servico></app-comp-servico>

    


  </div>

  <!-- Thirt Layout-->
  <div class="row justify-content-center bg4 pt-l pb-l " id="price">
    <div class="col-lg-3 col-sm-12 mt-3 text-center">
      <mat-card class="p-4">
        <mat-card-title ><img mat-card-sm-image src="https://image.flaticon.com/icons/png/512/290/290009.png">	</mat-card-title>
        <ul>
          <li>ACESSO A INFORMAÇÃO MENSAL</li>
          <li>ATÉ 5 CLIENTES GUARDADOS</li>
          <li>PROCESSOS ORÇAMENTO</li>
          <li>EXPORTAÇÃO DE DOCUMENTOS</li>
          <li class="price">49,00€</li>
        </ul>
        <button class="btn-green">
          Premium
        </button>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 mt-3 text-center">
      <mat-card class="p-4">
        <mat-card-title ><img mat-card-sm-image src="https://image.flaticon.com/icons/svg/1706/1706685.svg">	</mat-card-title>
        <ul>
          <li>ACESSO A INFORMAÇÃO MENSAL</li>
          <li>ATÉ 20 CLIENTES GUARDADOS</li>
          <li>PROCESSOS ORÇAMENTO</li>
          <li>EXPORTAÇÃO DE DOCUMENTOS</li>
          <li>NOTIFICAÇÕES DIARIAS</li>
          <LI>ALERTAS IMPORTANTES</LI>
          <li>MENSAGENS AUTOMATICAS</li>
          <li class="price">69,00€</li>
        </ul>
        <button class="btn-green">
          Vip
        </button>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 mt-3 text-center">
      <mat-card class="p-4">
        <mat-card-title ><img mat-card-sm-image src="https://image.flaticon.com/icons/png/512/290/290009.png">	</mat-card-title>
        <ul>
          <li>ACESSO A INFORMAÇÃO MENSAL</li>
          <li>SEM LIMITE CLIENTES </li>
          <li>PROCESSOS ORÇAMENTO</li>
          <li>EXPORTAÇÃO DE DOCUMENTOS</li>
          <LI>ALERTAS IMPORTANTES</LI>
          <li>MENSAGENS AUTOMATICAS</li>
          <li class="price">290,00€</li>
        </ul>
        <button class="btn-green">
          Anual
        </button>
      </mat-card>
    </div>

  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small " style="background-color: #222324;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 WiTECH - DiogoCunha 
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->