
<!-- HEADER -->
<header >
  
  <nav class="navbar navbar-expand-lg   nav-color">
      <a class="text-right" href="#">
        <img class="nav-logo text-center" src="./assets/deccer.png">
      </a>
    
      <div class="collapse navbar-collapse d-flex " id="navbarNav">
        <ul class="navbar-nav p-2 ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Serviços <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Portofolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orcamento">Orçamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orcamento ">Contactos</a>
          </li>
        </ul>
      </div>
  </nav> 
</header>
<!-- End Header -->


  <!-- Content here -->
<div class="container-fluid ">
  
  <!-- First Layout  -->
  <div class="row justify-content pb-5  ">
   
    <app-carousel-navigation class="carousel"></app-carousel-navigation> 
    
  </div>

  <!-- Second Layout  -->
  <div class="container  justify-content-center text-center pt-l pb-l ">

    <app-comp-servico></app-comp-servico>

  </div>

  <!-- Thirt Layout-->
  <div class="Content row align-items-center bg4 pt-l pb-l " id="price">
    
    <div class="col  text-center">
      <div><h1 class="h1-w ">ORÇAMENTE GRATUITAMENTE</h1></div>
      <div class="text-white"> Peça o seu orçamento sem qualquer custo, com resposts em 24h pela nossa equipa.</div>

      <button class="mt-4" ><a href="/orcamento">ORÇAMENTO</a>  </button>

    </div>

  </div>

  <div class="Content row text-center justify-content-md-center pt-l pb-l " id="price">
    
    <div class="col-md-12 mb-4">
      <h2 class="h2 font-weight-bold">LISTA DE PARCEIROS</h2>
    </div>

    <div class="row justify-content-md-center">
      <div class="col ">
        <img src="../../assets/AF.png">
      </div>
      <div class="col">
        <img src="../../assets/PEIXO.jpg">
      </div>
      <div class="col">
        <img src="../../assets/vis.jpg">
      </div>
      
    </div>
    
  </div>

</div>


<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->
