<footer class="page-footer font-small  pt-5  pb-1"  style="background-color: #222324; color: white;">

    <!-- Footer Links -->
    <div class="container-fluid pl-5 pr-5 text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 p-l">
  
          <!-- Content -->
          <h4 class="text-uppercase">DECCER Contactos</h4>
          <p>Rua Santa Luzia, n.56</p>
          <p>Gondomar, Porto</p>
          <p style="color: #bde5f1;">deccer.geral@gmail.com</p>
          
          <button> <a href="/orcamento"> Fale Connosco</a></button>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h3 class="text-uppercase" >Serviços</h3>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Canalizações</a>
              </li>
              <li>
                <a href="#!">Pinturas Int. Ext.</a>
              </li>
              <li>
                <a href="#!">Funilarias</a>
              </li>
              <li>
                <a href="#!">Telhados e Terraços 4</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h3 class="text-uppercase" > Encontre-nos Em: </h3>
            
            <ul class="list-unstyled">
              <li>
                <a href="#!">Instagram</a>
              </li>
              <li>
                <a href="#!">OLX Portugal</a>
              </li>
              <li>
                <a href="#!">Habitadissimo</a>
              </li>
              <li>
                <a href="#!">Pai.pt</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center p-3 ">
      © 2020 Copyright:
      <a href="www.instagram.com/witech"> WiTech Tecnologia, Company</a>
    </div>
    <!-- Copyright -->
  
  </footer>