<header>
  
    <nav class="navbar navbar-expand-lg   nav-color">
        <a class="text-right" href="#">
          <img class="nav-logo text-center" src="./assets/logo2.png">
        </a>
      
        <div class="collapse navbar-collapse d-flex " id="navbarNav">
          <ul class="navbar-nav p-2 ">
            <li class="nav-item active">
              <a class="nav-link" href="#">Serviços <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Portofolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orcamento">Orçamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orcamento ">Contactos</a>
            </li>
          </ul>
        </div>
    </nav> 
  </header>
