<div class="col-md-12 ">
    <div class="servicos h1">  NOSSOS SERVIÇOS </div>
    <div class="h6" >QUE PODE ENCONTRAR NA DECCER</div>
  </div>

  <div  class="row align-items-center comp-servico mt-5 s1">
    <div class="col pb-3">
        <a href="">CANALIZAÇÕES E FUNILARIAS</a>
    </div>
</div>

<div  class="row align-items-center comp-servico mt-5 s2"> 
  <div class="col pb-3">
      <a href="">PINTURAS E REMODELAÇÕES </a>
  </div>
</div>

<div  class="row align-items-center comp-servico mt-5 s3">
  
  <div class="col pb-3">
      <a href="">TELHADOS E TERRAÇOS</a>
  </div>

</div>
