<ngb-carousel class="ngb-carousel" *ngIf="images">
  <ng-template  ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="bg" src="../../assets/bg_1.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption open-trans">
      <h1>AGILIDADE E INOVAÇÃO</h1>
      <p>A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções </p>
      <button class="mt-4 btn-orc" ><a href="/orcamento"> O R Ç A M E N T O </a></button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="bg" src="../../assets/bg_2.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>AGILIDADE E INOVAÇÃO</h3>
      <p>A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções</p>
      <button class="mt-4 btn-orc">  <a href="/orcamento"> O R Ç A M E N T O </a></button>

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="bg" src="../../assets/bg_3.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>AGILIDADE E INOVAÇÃO</h3>
      <p>A vivacidade em tudo o que fazemos, com a motivação necessaria à procura de soluções</p>
      <button class="mt-4 btn-orc"><a href="/orcamento"> O R Ç A M E N T O </a></button>

    </div>
  </ng-template>

  

</ngb-carousel>