
<!-- HEADER -->
<app-header></app-header>
<!-- End Header -->


  <!-- Content here -->
<div class="container-fluid   ">
  
  <!-- First Layout  -->
  <div class="row text-center bg ">
    <div class="col-md-6 pt-8 pb-5 ">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Nome:</mat-label>
          <input matInput placeholder="Ex: Tiago Andrade">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Nome Completo</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Temelovel:</mat-label>
          <input matInput placeholder="Ex: Tiago Andrade">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Numero Tel/Tef</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Morada:</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Local da Obra</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>E-mail pessoal ou empresa</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" >
          <mat-label>Descrição:</mat-label>
          <textarea style="height: 140px; width: 330px;" matInput></textarea>
        </mat-form-field>
      </p>
        <button>Enviar</button>
    </div>

    <div class="col-md-4  d-none d-sm-block align-self-center slide pb-4 " style="background-color: white; opacity: 0.7;"> 
      <div class="pt-5 list text-right pr-4">
        <h1 style="padding-bottom: 8%;">ORÇAMENTO</h1>
        <p>GARANTIA MINÍMA DE 5 ANOS</p>
        <p>OS PRAZOS SÃO PARA CUMPRIR</p>
        <p>NÃO HÁ SURPRESAS NO PREÇO*</p>
        <p>PROFISSIONAIS COM MAIS DE 40 ANOS DE EXPERIENCIA</p>

        
      </div>
    </div>
  </div>

  <div class="row pt-4 pb-5 " style="color: white;">
    AQUI
  </div>

</div>


<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->
